/* //bodyタグの色作成 */
body {
  background-color: beige;
  background-size: cover;
  height: 100vh;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* //portfolioクラスの色作成 */
.portfolio {
  height: 80vh;
  width: 80vw;
  border-radius: 40vw / 40vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* //portfolio_profileクラスの色作成 */
.portfolio__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* //portfolio_profile_nameクラスの色作成 */
.portfolio__profile__name {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* //portfolio__profile__name__ja */
.portfolio__profile__name__ja {
  font-size: 100px;
}
/* //portfolio__profile__name__en */
.portfolio__profile__name__en {
  font-size: 10px;
}
/* //portfolio__profile__links */
.portfolio__profile__links {
  display: inline-flex;
  justify-content: space-between;
}
/* //portfolio__profile__links__element */
.portfolio__profile__links__element {
  font-size: 30px;
  margin: 0 1vw 0 1vw;
}
/* //portfolio__prime-checkerの色作成 */

.portfolio__prime-checker {
  border: solid 1px rgb(0, 0, 0);
  /* height: 20vmin;
    width: 25vw; */
  margin-top: 5vmin;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* //portfolio__prime-checker__title */
.portfolio__prime-checker__title {
  align-self: center;
  font-size: 3vmin;
}
/* //portfolio__prime-checker__counter */
.portfolio__prime-checker__counter {
  display: flex;
  justify-content: space-around;
}
/* //portfolio__prime-checker__counter__element */
.portfolio__prime-checker__counter__element {
  border: solid 1px rgb(0, 0, 0);
  padding: 0.1em 0.5em;
  font-size: 3vmin;
}
.portfolio__prime-checker__counter__element2 {
  border: solid 1px rgb(0, 0, 0);
  padding: 0.1em 0.5em;
  font-size: 3vmin;
}
.portfolio__prime-checker__counter__element3 {
  border: solid 1px rgb(0, 0, 0);
  padding: 0.1em 0.5em;
  font-size: 3vmin;
}
#counter {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#counter2 {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#counter3 {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#plus {
  background: rgb(255, 233, 38);
  color: rgb(0, 0, 0);
}
#plus2 {
  background: rgb(233, 233, 233);
  color: rgb(0, 0, 0);
}
#plus3 {
  background: rgb(255, 233, 233);
  color: rgb(0, 0, 0);
}

.portfolio__prime-checker__display {
  align-self: center;
  font-size: 3vmin;
}

.confer {
  align-self: flex-end;
  margin-right: 10vw;
  font-size: 2vmin;
}
